/*
xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger
*/
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
body {
	width: 100%;
	box-sizing: border-box;
	background: #fafafa;
	font-weight: normal;
}
body button.logoutBtn {
	margin-left: auto;
	display: flex;
	align-items: center;
	align-self: center;
}
body img.svg-icon {
	width: 20px;
}
body .bulkupload-wrapper .instance-list-display {
	margin: 0;
	box-shadow: none;
	padding: 1rem 1.5rem;
}

body .bulkupload-wrapper .bulkupload_img p {
	margin: 0 0 10px;
	color: #4194f2;
	font-weight: 300;
}
body .bulkupload-wrapper .bulkupload_img svg {
	color: #afafaf;
}
body .bulkupload-wrapper .bulkupload__no-img {
	min-height: 300px;
	z-index: 9999;
	background-repeat: no-repeat;
	background-position: center 75%;
	padding: 1.5rem;
	margin-bottom: 1rem;
	border: 2px dashed #4c9ef8;
	outline: none;
}
body .bulkupload-wrapper .bulkupload__no-img p {
	margin: 0 0 10px;
	color: #4194f2;
	font-weight: 300;
}
body .bulkupload-wrapper .bulkupload__no-img svg {
	color: #afafaf;
}
body .bulkupload-wrapper .add-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}
body .bulkupload-wrapper .add-button .download-link a {
	text-decoration: none;
}
body .bulkupload-wrapper .add-button .download-link a span {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	color: #333333;
}
body .bulkupload-wrapper .add-button .download-link a span svg {
	color: #4194f2;
	margin-right: 5px;
}
body .bulkupload-wrapper .add-button button {
	margin-left: 8px;
}
body .Loader {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 110;
}
body .app-header {
	display: flex;
	justify-content: left;
	background-color: #fff;
	color: #575962;
	z-index: 100;
	text-align: left;
	padding: 0 24px;
	position: fixed;
	width: 100%;
	box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.1);
	max-height: 60px;
	top: 0;
}
body .app-header .logo-container {
	width: 7.5rem;
	height: 60px;
	overflow: hidden;
	padding-left: 1.2rem;
	padding-right: 0.9rem;
}
body .app-header .logo-container .headerLogo {
	width: 100%;
	height: 100%;
	transform: scale(1.5) translateY(0px);
}
body .add-button {
	display: flex;
	justify-content: flex-end;
	padding: 0 16px;
}
body .add-button:last-child {
	padding-right: 0;
}
body .fixed-button {
	align-self: flex-end;
	margin: 0;
	margin-left: 12px;
	background-color: #ffffff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.161);
	border: 1px solid transparent;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 1.0625rem;
}
body .fixed-button svg {
	color: #4194f2;
	font-size: 1.125rem;
}
@media only screen and (max-width: 900px) {
	body .fixed-button {
		margin: 12px;
	}
}
body .menu-list .edit-icon {
	margin-right: 10px;
	color: #4194f2;
}
body .menu-list .edit-text {
	font-size: 0.9375rem;
}
body .instance-list-display {
	margin: 10px;
	/* border : 1px solid gray; */
	padding: 16px;
	/* width: 50%; */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 5px;
}
body .instance-list-display button {
	font-size: 12px;
	padding: 4px;
}
body .instance-list-display .add-instance-grp {
	margin: 0 10px;
	margin-bottom: 15px;
	width: 30%;
}
body .instance-list-display .add-instance-grp div {
	width: 100%;
}
body .instance-list-display .add-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}
body .addRecord.instance-list-display {
	display: flex;
	flex-wrap: wrap;
}
body .date-outline {
	outline: 0 !important;
}
body button:focus {
	outline: none;
}
body button.Inactive {
	color: #848483 !important;
	border-color: #848483 !important;
}
body button.Inactive:hover {
	color: #ffffff !important;
	border-color: #4194f2 !important;
}
body button.onhold {
	color: #ffffff !important;
	border-color: #4194f2 !important;
}
body button.onhold:hover {
	color: #ffffff !important;
	background: #ffffff !important;
}
body button.Active {
	color: #ffffff !important;
	background: #52af00 !important;
	border: none;
}
body button.Active:hover {
	color: #52af00 !important;
	border: 1px solid #52af00 !important;
	background: none !important;
}
body .btn-group {
	display: flex;
	justify-content: center;
}
body .instance-info {
	font-size: 17px;
	display: flex;
}
body .instance-info span {
	font-weight: 600;
	padding-left: 5px;
}
body .form-wrapper {
	display: flex;
	justify-content: center;
}
body .vertical-center {
	align-content: center;
}
body .login-button {
	margin-top: 15px;
}
body .display-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
body .display-list-wrapper .instance-list {
	width: 100%;
	padding-top: 1rem;
}
body .card-width {
	width: 50%;
}
body .select-input {
	width: 120px;
}
body .login-text {
	margin: 10px;
}
body .dropDownWrapper .dropDown {
	min-width: 270px;
	padding-right: 19px;
}
body .dropDownWrapper .dropDown .select-practice {
	width: 100%;
	margin-left: 10px;
}
body .mandatory-feild {
	color: #f44336;
	font-size: 1rem;
	padding-right: 0.125rem;
}
body .info-icon {
	cursor: pointer;
}
body .success,
body .error {
	color: #ffffff;
	box-shadow: none;
}
body .success {
	border: solid 1px #6abc6a;
	background: transparent;
	color: #6abc6a;
	padding: 5px 15px;
}
body .success:hover,
body .success:active {
	background: rgba(106, 188, 106, 0.07);
	box-shadow: none;
	border: solid 1px #66ba66;
}
body .error {
	border: solid 1px #f44336;
	background: transparent;
	color: #f44336;
	padding: 5px 15px;
}
body .error:hover,
body .error:active {
	background: rgba(244, 67, 54, 0.07);
	box-shadow: none;
	border: solid 1px #f43e31;
}
body .note-message {
	background-color: #f0f7fe;
	border-radius: 5px;
	margin: 1.5rem 0 0;
	padding: 1rem;
	color: #506888;
}
body .note-message .note {
	font-size: 0.9375rem;
	color: #4194f2;
	font-weight: 500;
	display: flex;
	align-items: center;
	line-height: normal;
	margin-bottom: 8px;
}
body .note-message .note svg {
	margin-right: 6px;
}
body .note-message .note--main,
body .note-message .note--sub {
	display: block;
	line-height: 1.5;
	width: 100%;
	font-size: 0.9375rem;
	color: rgba(0, 0, 0, 0.6);
}
body .note-message .note--main .mandatory-feild,
body .note-message .note--sub .mandatory-feild {
	font-size: 0.875rem;
}
body .info-message {
	background-color: #eff0f9;
	border-radius: 5px;
	margin: 1.5rem 0 0;
	padding: 1rem;
	color: #506888;
}
body .info-message .info {
	font-size: 0.9375rem;
	color: #394fce;
	font-weight: 500;
	display: flex;
	align-items: center;
	line-height: normal;
	margin-bottom: 8px;
}
body .info-message .info svg {
	margin-right: 6px;
}
body .info-message .info--main,
body .info-message .info--sub {
	display: block;
	line-height: 1.5;
	width: 100%;
	font-size: 0.9375rem;
	color: rgba(0, 0, 0, 0.6);
}
body .info-message .info--main .mandatory-feild,
body .info-message .info--sub .mandatory-feild {
	font-size: 0.875rem;
}
body .popup__title {
	color: rgba(51, 51, 51, 0.8);
	font-size: 1.1875rem;
	border-bottom: solid 1px #eee;
	padding: 8px 24px;
}
body .popup__title .title {
	padding-right: 1.5rem;
}
body .popup__title span::before {
	top: -2px;
}
body .pagination__wrapper {
	display: flex;
	justify-content: flex-end;
}
body .pagination__wrapper nav {
	margin-top: 24px;
}
body .pagination__wrapper nav svg {
	color: rgba(51, 51, 51, 0.7);
}
.select__control {
	background-color: transparent;
	border-width: 0 0 1px 0;
	border-radius: 0px;
	padding-bottom: 1px;
	background: transparent;
}
.select__control--is-focused {
	border-width: 0 0 2px 0;
	box-shadow: none;
	padding-bottom: 0;
}
.basic-single {
	padding: 0;
	position: relative;
}
.scheduler .card-container .card__chip {
	background-color: #30a29519;
	border: solid 1px #30a2954d;
	color: rgba(24, 60, 56, 0.8);
}
.card_main__wrapper button {
	padding: 1rem;
}
.fontWeight-500 {
	font-weight: 500;
	color: rgba(51, 51, 51, 0.8);
}
.cardWrapper .instance-list-display {
	width: 20%;
}
@media only screen and (max-width: 990px) {
	.cardWrapper .instance-list-display {
		width: 40%;
	}
}
.LoginDialog div[role='dialog'] {
	min-width: 250px;
	min-height: 140px;
}
.LoginDialog .LoginDialogTitle {
	padding-bottom: 0;
}
.LoginDialog .LoginDialogContent {
	text-align: center;
	padding: 16px 24px;
	padding-top: 0;
}
.LoginDialog .LoginDialogFormContent {
	margin-top: 12px;
}
.LoginDialog .LoginDialogFormContent div,
.LoginDialog .LoginDialogFormContent select {
	width: 200px !important;
}
.cardBtn {
	border-top: 1px solid #eeeeee;
	margin-top: 10px;
	padding-top: 10px;
	justify-content: space-between !important;
}
.cardBtn .btnshowcont button {
	background: none;
	border: none;
	padding: 0px;
	margin: 5px;
	border-radius: none;
	min-width: auto;
}
.cardBtn .btnshowcont button:hover {
	background: transparent;
}
.btnshowcont button {
	background: none;
	border: none;
	padding: 0px;
	margin: 5px;
	border-radius: none;
	min-width: auto;
}
.btnshowcont button:hover {
	background: transparent;
}
.rdt_Table {
	padding: 0 16px;
}
.rdt_Table .rdt_TableHeadRow {
	background: rgba(235, 237, 239, 0.87);
}
.rdt_Table .rdt_TableHeadRow > div {
	font-size: 14px;
}
.rdt_Table .rdt_TableCol,
.rdt_Table .rdt_TableCell {
	min-width: 110px;
	max-width: 200px;
}
.rdt_Table .rdt_TableRow {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.rdt_Table .rdt_TableRow:last-child {
	border: none;
}
.rdt_Table .rdt_TableRow .TableActionButton {
	display: flex;
	min-width: 200px;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: flex-start;
}
.rdt_Table .rdt_TableRow .TableActionButton button {
	margin: 4px;
	border: navajowhite;
	padding: 0;
	border-radius: unset;
	font-size: 12px;
	justify-content: flex-start;
	min-width: auto;
}
.rdt_Table .rdt_TableRow .TableActionButton button:hover {
	background-color: transparent;
	color: #4194f2;
}
.rdt_Table .rdt_TableRow .TableActionButton .toggleBtn button {
	border: 1px solid transparent;
	padding: 5px;
	border-radius: 5px;
}
.rdt_Table .rdt_TableRow .TableActionButton .toggleBtn button.Inactive:hover {
	background-color: #4194f2;
	color: #4194f2;
}
.rdt_Pagination {
	margin: 0 16px;
	width: calc(100% - 32px) !important;
}
.rdt_Pagination button {
	min-width: auto;
}
.uploadWrapper {
	/* width: calc(50% - 20px) !important; */
	padding: 16px 24px !important;
}
.uploadWrapper .add-instance-grp {
	width: 100% !important;
}
.uploadWrapper .add-instance-grp label {
	display: none;
}
.uploadWrapper .add-instance-grp input {
	padding: 0px 0 16px !important;
}
.updateWrapper {
	display: flex;
	flex-wrap: wrap;
}
.dashboard .header {
	align-items: center;
	padding: 0 0 1.4rem;
}
.dashboard .header__page-title {
	font-size: 1.0625rem !important;
	display: flex;
	position: relative;
	padding-right: 1.875rem;
	color: rgba(51, 51, 51, 0.8);
	align-items: center;
	font-weight: 400;
}
.dashboard .header .instance__btn-wrapper {
	display: flex;
	justify-content: flex-end;
}
.dashboard .header .instance__btn-wrapper .add-button .search-console__div {
	min-width: 250px;
	padding-right: 8px;
	display: flex;
	align-items: flex-end;
}
.dashboard .header .instance__btn-wrapper .add-button .add_instance-split-btn {
	z-index: 9;
}
.dashboard
	.header
	.instance__btn-wrapper
	.add-button
	.add_instance-split-btn
	.fixed-button {
	border: none;
	box-shadow: 0px 3px 6px #00000029;
}
.dashboard
	.header
	.instance__btn-wrapper
	.add-button
	.add_instance-split-btn
	.fixed-button
	button:first-child {
	border: none;
}
.dashboard
	.header
	.instance__btn-wrapper
	.add-button
	.add_instance-split-btn
	.fixed-button
	button:first-child
	span {
	color: #333333;
	text-transform: capitalize;
	font-size: 15px;
}
.dashboard
	.header
	.instance__btn-wrapper
	.add-button
	.add_instance-split-btn
	.fixed-button
	button:last-child {
	border: none;
	border-left: solid 1px #f5f5f5;
}
.dashboard
	.header
	.instance__btn-wrapper
	.add-button
	.add_instance-split-btn
	.fixed-button
	button:last-child
	svg {
	font-size: 1.5rem;
}
.dashboard .dropDownWrapper .dropDown {
	display: flex;
	align-items: baseline;
	padding-left: 1.875rem;
	padding-right: 0;
}
.dashboard .vetical-center {
	margin-left: 0;
	font-size: 1.0625rem;
	color: rgba(51, 51, 51, 0.6);
}
.dashboard .instance__header__page-title::after {
	content: ' ';
	position: absolute;
	background-color: rgba(112, 112, 112, 0.5);
	width: 1px;
	height: 80%;
	right: 0px;
	top: 6px;
}
.select-registery div[role='dialog'] {
	min-width: 350px;
	padding: 1.875rem;
}
.select-registery__title {
	padding: 0 !important;
}
.select-registery__title h2 {
	line-height: normal;
	color: #64748b;
}
.select-registery__content {
	padding: 0 !important;
}
.select-registery__form-content {
	width: 100%;
}
.instance-list-display.scheduleWrapper .scheduleSubCheckbox {
	display: flex;
	max-height: 300px;
	overflow-y: auto;
	flex-wrap: wrap;
	padding-left: 2px;
}
.instance-list-display.scheduleWrapper .scheduleSubCheckbox > div {
	width: 48% !important;
}
.instance-list-display.scheduleWrapper
	.scheduleWrapperFilter
	.scheduleCheckboxWrapper {
	padding-bottom: 10px;
}
.instance-list-display.scheduleWrapper
	.scheduleWrapperFilter
	.scheduleCheckboxWrapper
	span.SelectAllcheckbox {
	padding-left: 0;
}
.instance-list-display.scheduleWrapper
	.scheduleWrapperFilter
	.scheduleCheckboxWrapper
	div {
	width: 100%;
}
.instance-list-display.scheduleWrapper .add-button {
	width: auto;
	padding-right: 0;
}
.ScheduleBtnWrapper {
	display: flex;
	align-items: center;
	margin-top: 5px;
}
.ScheduleBtnWrapper .Nojobschedule {
	padding: 20px;
}
.ScheduleBtnWrapper .add-button {
	margin-left: auto;
}
.card-container .card {
	padding: 0.75rem;
	box-shadow: 0px 1px 12px #b1bedde5;
	border-radius: 10px;
	position: relative;
	height: 100%;
}
.card-container .card__header {
	display: flex;
	align-items: center;
	width: calc(100% + 24px);
	margin-left: -12px;
	margin-right: -12px;
	padding: 0 12px 8px;
}
.card-container .card__title {
	text-align: left;
	font-size: 1.125rem;
	color: rgba(51, 51, 51, 0.8);
	text-transform: capitalize;
}
.card-container .card__id {
	font-size: 17px;
}
.card-container .card__date {
	font-size: 12px;
	color: rgba(51, 51, 51, 0.5);
	line-height: 24px;
}
.card-container .card__switcher {
	justify-content: flex-end;
	display: flex;
	margin-right: -8px;
}
.card-container .card__switcher button[aria-label='more'] {
	color: rgba(0, 0, 0, 0.8);
}
.card-container .card__switcher-label {
	margin-left: 0;
	margin-right: 8px;
}
.card-container .card__switcher-label > span {
	font-size: 15px;
	color: rgba(51, 51, 51, 0.8);
}
.card-container .card__date-container {
	display: flex;
	align-items: center;
	border-bottom: solid 1px rgba(112, 112, 112, 0.2);
	margin-bottom: 0.75rem;
	padding: 12px 12px 12px;
	width: calc(100% + 24px);
	margin-left: -12px;
	margin-right: -12px;
}
.card-container .card__date-container .card__date-row {
	display: flex;
	align-items: center;
}
.card-container .card__date-container .card__date-row .card__startdate {
	display: flex;
	align-items: center;
}
.card-container .card__date-container .card__date-row.start-date {
	padding-bottom: 0.75rem;
	justify-content: space-between;
}
.card-container .card__date-container .schedular-tables {
	margin-bottom: 1.5rem;
}
.card-container .card__date-col {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-container .card__date-col:not(:last-child)::after {
	content: ' ';
	position: absolute;
	background-color: rgba(112, 112, 112, 0.2);
	width: 1px;
	height: 100%;
	left: 100%;
	top: 0;
}
.card-container .card__date-col.data__table-extraction-file {
	flex-direction: column;
}
.card-container .card__time {
	line-height: normal;
}
.card-container .card__time .card__label {
	font-size: 0.75rem;
}
.card-container .card__count {
	color: rgba(51, 51, 51, 0.8);
	font-size: 1.1875rem;
	display: flex;
	align-items: center;
	font-weight: 500;
}
.card-container .card__label {
	display: block;
	font-size: 0.875rem;
	color: rgba(131, 131, 131, 0.8);
}
.card-container .card__clock-icon {
	margin-right: 0.5rem;
	height: 2rem;
	width: 2rem;
}
.card-container .card__extract-file-link {
	cursor: pointer;
	font-size: 1rem;
}
.card-container .card__chip-row {
	margin-bottom: 0.75rem;
}
.card-container .card__extract-wrapper {
	margin-bottom: 50px;
}
.card-container .card__chip {
	min-width: 75px;
	justify-content: space-around;
	border-radius: 15px;
	border: solid 1px #6b40af4d;
	background-color: #f6f2ff;
	color: rgba(66, 23, 137, 0.8);
	font-size: 15px;
	height: 28px;
}
.card-container .card__chip:first-child {
	margin-left: 0;
}
.card-container .card__chip-text {
	text-align: left;
	font-size: 17px;
	color: rgba(51, 51, 51, 0.8);
	margin-bottom: 4px;
}
.card-container .card__extract-status-row {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	width: 100%;
	justify-content: space-between;
}
.card-container .card__extraction-status-label {
	color: rgba(51, 51, 51, 0.8);
	font-size: 1.0625rem;
}
.card-container .card__extraction-runtime {
	font-size: 0.9375rem;
	color: rgba(51, 51, 51, 0.6);
	margin-left: 0.5rem;
}
.card-container .card__icon-hospital {
	width: 14px;
	height: 16px;
	margin-right: 0.5rem;
}
.card-container .card__icon-calender {
	width: 1.125rem;
	height: 1.125rem;
	margin-left: 0.5rem;
	color: #4194f2;
}
.card-container .card__icon-history {
	color: #4194f2;
}
.card-container .card__connected-label {
	color: #6abc6a;
	font-size: 0.875rem;
}
.card-container .card__disconnected-label {
	color: #f44336;
	font-size: 0.875rem;
}
.card-container .card__label {
	font-size: 1.0625rem;
	color: rgba(51, 51, 51, 0.8);
	font-weight: 400;
}
.card-container .card__connected {
	align-items: center;
	display: flex;
	margin-bottom: 0.5rem;
}
.card-container .card__connected .card__circle .icon-link {
	color: #6abc6a;
	margin-left: 0.5rem;
	margin-right: 3px;
	font-size: 0.875rem;
}
.card-container .card__disconnected {
	align-items: center;
	display: flex;
	margin-bottom: 0.5rem;
}
.card-container .card__disconnected .card__circle .icon-link {
	color: #f44336;
	margin-left: 0.5rem;
	margin-right: 3px;
	font-size: 0.875rem;
}
.card-container .card__footer {
	background-color: #f5f5f5;
	padding: 12px;
	align-items: center;
	justify-content: space-between !important;
	display: flex;
	border-radius: 0 0 10px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.card-container .card__footer .btnshowcont {
	display: flex;
}
.card-container .card__footer-icon-table {
	width: 23px;
	height: 21px;
}
.card-container .card__footer--link {
	cursor: pointer;
	align-items: center;
	display: flex;
	margin-right: 1.5rem;
	text-decoration: none;
}
.card-container .card__footer--link:hover {
	text-decoration: none;
}
.card-container .card__footer--link:last-child {
	margin-right: 0;
}
.card-container .card__footer--view-tables {
	color: #333333;
	padding-left: 0.3125rem;
	font-size: 1.0625rem;
}
.card-container .card__footer.schedular__card-footer {
	justify-content: center !important;
}
.card-container .card__extraction-row {
	align-items: center;
	color: rgba(51, 51, 51, 0.8);
	font-size: 0.9375rem;
	margin-bottom: 8px;
}
.card-container .card__extraction-row .card__extraction-note-value {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.card-container .card__extraction-row .card__extraction-note-value a {
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
}
.card-container .card__extraction-row .card__extraction-note-value .icon-code {
	margin-right: 9px;
}
.card-container .card__extraction .icon-code {
	margin-right: 6px;
}
.card-container .card__extraction-value {
	justify-content: flex-end;
	margin-left: 8px;
}
.card-container .card__version {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	color: rgba(126, 126, 126, 0.8);
	font-size: 0.875rem;
	cursor: pointer;
}
.card-container .card__data__table-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.card-container .card__extract__file-label {
	font-size: 0.8125rem;
	color: rgba(51, 51, 51, 0.6);
	margin-top: 5px;
}
.card-container .card__priority {
	color: rgba(51, 51, 51, 0.45);
	font-size: 0.9375rem;
}
.card-container .card__extraction-version {
	color: rgba(51, 51, 51, 0.45);
	font-size: 0.9375rem;
}
.card-container .card__value {
	color: #333333;
	font-size: 0.9375rem;
	font-weight: 500;
	margin-left: 5px;
}
.card-container.card-active .card__header {
	border-bottom: 2px solid #00b24b;
}
.card-container.card-inactive .card__header {
	border-bottom: 2px solid #9f9f9f;
}
.fi-aside-left > div {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	padding-top: 64px;
}
.main-navigation__container ul.main-navigation__ul {
	padding: 0;
}
.main-navigation__container ul.main-navigation__ul .main-nav--icon__wrapper {
	min-height: 2rem;
	margin-left: 7px;
}
.main-navigation__container
	ul.main-navigation__ul
	.main-nav--icon__wrapper
	span {
	display: inline-block;
	display: inline-flex;
	width: 1.8rem;
	height: 1.8rem;
	text-align: center;
	align-items: center;
	justify-content: center;
}
@media (max-width: 600px) {
	.main-navigation__container
		ul.main-navigation__ul
		.main-nav--icon__wrapper
		span {
		width: 1.4rem;
		height: 1.8rem;
		margin-left: -5px;
	}
}
.main-navigation__container
	ul.main-navigation__ul
	.main-nav--icon__wrapper
	svg {
	width: auto;
	height: 1.6rem;
}
@media (max-width: 600px) {
	.main-navigation__container
		ul.main-navigation__ul
		.main-nav--icon__wrapper
		svg {
		width: 1.4rem;
		max-height: 1.4rem;
	}
}
.main-navigation__container ul.main-navigation__ul div.selected-main__nav {
	color: #4194f2;
	background-color: #cce0f8;
	border-right: solid 3px;
}
.main-navigation__container ul.main-navigation__ul div.selected-main__nav svg {
	color: #4194f2;
}
.basic-dialog__title {
	color: #333333;
	font-size: 1.1875rem;
	border-bottom: solid 1px #eee;
}
.basic-dialog__content {
	padding: 1.5rem 1.5rem !important;
}
.basic-dialog__content p {
	margin-bottom: 0 !important;
}
.basic-dialog__actions {
	padding: 0 1.5rem 1rem !important;
}
.basic-dialog__cancelBtn {
	margin-right: 1rem !important;
}
.basic-dialog__okBtn {
	margin-left: 0 !important;
}
.instance-popup {
	padding: 1rem 1.5rem 0;
}
.instance-popup .add-instance-popup {
	border-radius: 10px;
	padding: 1rem 0 0;
}
.instance-popup .add-instance-popup__textfield {
	width: 100%;
}
.instance-popup .add-instance-popup__textfield label + div {
	margin-top: 24px;
}
.instance-popup .add-instance-popup__label {
	color: #999999;
}
.instance-popup .add-instance-popup__dropdown {
	flex: 0 0 120px;
	max-width: 120px;
}
.instance-popup .add-instance-popup__btns {
	justify-content: flex-end;
	display: flex;
	padding: 1rem 0;
}
.instance-popup .add-instance-popup__cancelBtn {
	margin-right: 1rem;
}
.instance-popup .add-instance-popup__note {
	font-size: 0.875rem;
}
.instance-popup .add-instance-popup .add-instance-grp-row {
	flex: 0 0 calc(100% - 120px);
	max-width: calc(100% - 120px);
	display: flex;
}
.instance-popup .add-instance-popup .dropdown-label {
	font-size: 0.8125rem;
	color: #999999;
}
.instance-popup .add-instance-popup .add-instance-grp:not(:last-child) {
	padding-right: 1rem;
}
.instance-popup .add-instance-popup .text-field-row input::placeholder {
	font-size: 0.875rem;
}
.instance-popup .add-instance-popup:first-child {
	padding-top: 0;
}
.instance-popup.schedule-popup
	.add-instance-popup
	.add-instance-grp.version__add-instance-grp {
	display: flex;
	align-items: center;
}
.instance-popup.schedule-popup
	.add-instance-popup
	.add-instance-grp.version__add-instance-grp
	.dropdown-label {
	font-size: 1rem;
}
.instance-popup.schedule-popup .text-field-row {
	width: 100%;
	min-width: 240px;
	margin-right: 12px;
}
.instance-popup.schedule-popup .schedule__checkbox-wrapper {
	width: 100%;
}
.instance-popup.schedule-popup .schedule__checkbox-wrapper .checkbox-title {
	font-size: 1rem;
	line-height: normal;
	margin-bottom: 0.75rem;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container {
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	overflow-y: scroll;
	max-height: 140px;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label {
	width: 100%;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child {
	width: 100%;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls {
	display: flex;
	align-items: center;
	font-size: 0.875rem;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.instance-name {
	min-width: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	margin-right: 0.75rem;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.id-wraper {
	width: 100%;
	display: flex;
	align-items: center;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.id-wraper
	.card__chip {
	justify-content: space-around;
	border-radius: 15px;
	border: solid 1px #6b40af4d;
	background-color: #f6f2ff;
	color: rgba(66, 23, 137, 0.8);
	height: 28px;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.id-wraper
	.card__chip:first-child {
	margin-left: 0;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.version-section {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-width: 90px;
	width: 100%;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.version-section
	.version {
	margin-right: 0.5rem;
	color: rgba(51, 51, 51, 0.65);
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.version-section
	.version__status-icons
	.green {
	color: #6abc6a;
	margin-left: 0.5rem;
	margin-right: 3px;
	font-size: 0.875rem;
}
.instance-popup.schedule-popup
	.schedule__checkbox-wrapper
	.schedule__checkbox-container
	.schedule__checkbox-section
	.checkbox
	.checkbox-label
	> span:last-child
	.checkbox__version-controls
	.version-section
	.version__status-icons
	.red {
	color: #f44336;
	margin-left: 0.5rem;
	margin-right: 3px;
	font-size: 0.875rem;
}
.add-table-wrapper .add-table-main {
	padding: 0 1.5rem 0;
}
.add-table-wrapper .add-table-main .add-table {
	padding: 1rem 0 0;
}
.add-table-wrapper .add-table-main .add-table__group:not(:last-child) {
	padding: 0 1.5rem 0 0;
}
.add-table-wrapper .add-table-main .add-table__col {
	padding-bottom: 1rem !important;
}
.add-table-wrapper .add-table-main .add-table__col:first-child,
.add-table-wrapper .add-table-main .add-table__col:nth-child(2) {
	padding-top: 0 !important;
	flex: 0 0 100%;
}
.add-table-wrapper .add-table-main .add-table__chunkType,
.add-table-wrapper .add-table-main .add-table__chunkLogicCol,
.add-table-wrapper .add-table-main .add-table__query,
.add-table-wrapper .add-table-main .add-table__whereClause {
	display: flex;
	flex-wrap: wrap;
}
.add-table-wrapper .add-table-main .add-table__chunkType {
	flex: 0 0 190px;
	padding-right: 0 !important;
}
.add-table-wrapper .add-table-main .add-table__chunkLogicCol,
.add-table-wrapper .add-table-main .add-table__query {
	flex: 0 0 calc(100% - 190px);
	padding-right: 0 !important;
}
.add-table-wrapper .add-table-main .add-table__fileRecord {
	flex: 0 0 230px;
	padding-right: 0 !important;
}
.add-table-wrapper .add-table-main .add-table__whereClause {
	flex: 0 0 calc(100% - 230px);
	flex: 0 0 100%;
	padding-right: 0 !important;
}
.add-table-wrapper .add-table-main .add-table__path {
	margin-top: -2rem !important;
	width: 100%;
}
.add-table-wrapper .add-table-main .add-table .maxrecord-feild label {
	font-size: 1rem;
	transform: scale(1);
}
.add-table-wrapper .add-table-main .add-table-popup__btns {
	justify-content: flex-end;
	display: flex;
	padding: 1rem 0;
}
.add-table-wrapper .add-table-main .add-table-popup__cancelBtn {
	margin-right: 1rem;
}
.add-table-wrapper .add-table-main > div:empty {
	display: none;
}
.page-header__wrapper .page-header {
	background-color: #ffffff;
	color: #575962;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
	-moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
	width: 100%;
}
.page-header__wrapper .page-header .page-header__toolbar {
	padding: 0;
}
.page-header__wrapper .page-header .page-header__toolbar .hamburger-container {
	width: 70px;
	display: table-cell;
	vertical-align: middle;
	height: 64px;
	overflow: hidden;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.hamburger-container
	> button {
	margin: 10px;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.hamburger-container:empty {
	display: none;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general {
	display: table;
	table-layout: fixed;
	padding: 0 12px 0 0;
	width: 100%;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.hamburger-container {
	width: 70px;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.hamburger-container
	> button {
	margin-right: 10px;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.hamburger-container:empty {
	display: none;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.fi-brand__logo {
	padding: 2px 10px 0 24px;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.fi-brand__logo
	.brand-logo__container {
	min-width: 180px;
	height: 40px;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.fi-brand__logo
	.brand-logo__container
	.logo_img {
	height: 100%;
	max-height: 40px;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.fi-brand__tools {
	text-align: right;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.fi-brand__tools
	.brand-action-icon-container
	.profile-user-icon__menu {
	display: inline-block;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.fi-brand__tools
	.brand-action-icon-container
	.profile-user-icon__menu
	button {
	font-size: 2rem;
}
.page-header__wrapper
	.page-header
	.page-header__toolbar
	.page-header-stack--general
	.fi-stack__item.fi-brand__tools
	.action-btn_container
	a {
	margin-left: 24px;
}
@media (max-width: 768px) {
	.page-header__wrapper main.fi-container--fluid {
		padding: 15px;
	}
}
.page-header__wrapper
	.page-header_with-sidebar
	+ main.fi-container--full-height {
	margin-left: 72px;
}
@media (max-width: 600px) {
	.page-header__wrapper
		.page-header_with-sidebar
		+ main.fi-container--full-height {
		margin-left: 60px;
	}
}
.page-header__wrapper .header {
	padding: 0 0 0.5rem;
}
.page-header__wrapper .header.instance-header {
	min-height: 48px;
	align-items: flex-end;
}
.page-header__wrapper .header__back {
	flex: 0 0 auto;
	color: #4194f2;
	padding: 12px;
	overflow: visible;
	font-size: 1.25rem;
	text-align: center;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	outline: 0;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	-moz-appearance: none;
	justify-content: center;
	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	min-width: 45px;
	height: 45px;
	margin-right: 0.25rem;
	margin-left: -1.125rem;
}
.page-header__wrapper .header__back:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
.page-header__wrapper .header__page-title {
	font-size: 1.0625rem !important;
	display: flex;
	position: relative;
	padding-right: 1.875rem;
	color: #333333;
	align-items: center;
	text-transform: capitalize;
	font-weight: 400;
}
.page-header__wrapper .header__page-span {
	font-size: 0.9375rem !important;
	color: rgba(51, 51, 51, 0.54);
	position: relative;
}
.page-header__wrapper .header__page-span::before {
	content: ' ';
	background: rgba(112, 112, 112, 0.3);
	width: 1px;
	height: 20px;
	position: absolute;
	top: 0;
	left: -15px;
}
.profile-user__popup-menu > div {
	-webkit-box-shadow: 0px 1px 12px rgba(170, 190, 221, 0.9);
	-moz-box-shadow: 0px 1px 12px rgba(170, 190, 221, 0.9);
	box-shadow: 0px 1px 12px rgba(170, 190, 221, 0.9);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.profile-user__popup-menu .profile-menu__tooltip_card {
	min-width: 280px;
	max-width: 400px;
	text-align: center;
	box-shadow: 0px 1px 12px #b1bedde5;
}
.profile-user__popup-menu .profile-menu__tooltip_card .user-image__avtar {
	margin: 10px auto 20px;
	font-size: 36px;
	height: 70px;
	width: 70px;
	font-weight: 400;
	color: #4194f2;
	background-color: #cce0f8;
}
.profile-user__popup-menu .profile-menu__tooltip_card .profile-user-name__h5 {
	font-size: 1.15rem;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgba(66, 23, 137, 0.8);
}
.profile-user__popup-menu .profile-menu__tooltip_card .profile-user-email__p {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.profile-user__popup-menu
	.profile-menu__tooltip_card
	.profile-signout-btn__container {
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.no--result_wrapper .no--result_grid .no--result_content .no--result_heading {
	font-family: 'Roboto', sans-serif;
	font-size: 2.05rem;
	color: #64748b;
	margin: 1.75rem 0;
	font-weight: normal;
}
.no--result_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
}
.no--result_heading {
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
	color: #cce0f8;
	font-weight: 500;
	margin-right: 1.5rem;
}
.calendar-field {
	padding: 0.5rem 0.5rem 0 0;
}
.user-status-switcher {
	padding: 0.5rem 0rem 0rem 0.25rem;
}
.gender {
	margin-top: 1rem;
}
.header {
	align-items: center;
	padding: 0 0 0.5rem;
}
.header__back {
	flex: 0 0 auto;
	color: #4194f2;
	padding: 12px;
	overflow: visible;
	font-size: 1.25rem;
	text-align: center;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	outline: 0;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	-moz-appearance: none;
	justify-content: center;
	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	min-width: 45px;
	height: 45px;
	margin-right: 0.25rem;
	margin-left: -1.125rem;
}
.header__back:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
.header__page-title {
	font-size: 1.0625rem !important;
	display: flex;
	position: relative;
	padding-right: 1.875rem;
	color: #333333;
	align-items: center;
	text-transform: capitalize;
	font-weight: 400;
}
.header__page-span {
	font-size: 0.9375rem !important;
	color: rgba(51, 51, 51, 0.54);
	position: relative;
}
.header__page-span::before {
	content: ' ';
	background: rgba(112, 112, 112, 0.3);
	width: 1px;
	height: 20px;
	position: absolute;
	top: 0;
	left: -15px;
}
.header__page-span svg {
	margin-left: 4px;
}
.heading-wrapper {
	align-items: center;
}
.heading-wrapper .page-title__heading {
	font-size: 1.1875rem !important;
	display: flex;
	position: relative;
	padding-right: 1.875rem;
	color: #333333;
	align-items: center;
	font-weight: 400;
}
.header-actions-container {
	justify-content: flex-end;
}
.header-actions-container .header-action {
	display: flex;
	align-items: center;
}
.header-actions-container .header-action--search {
	margin-top: -0.8125rem;
	min-width: 200px;
}
.table-root__wrapper {
	padding-top: 1.5rem;
}
.table-root__wrapper .table-container {
	border-radius: 0;
	box-shadow: none;
}
.table-root__wrapper .table-container thead {
	background-color: #eeeff1;
}
.instance-history .instance__history-dropDown .fixed-button {
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: #4194f2;
	font-size: 0.9375rem;
}
.instance-history .instance__history-dropDown .fixed-button:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
.instance-history .info-message {
	margin-top: 0;
}
.files_wrapper .header {
	align-items: center;
}
.files_wrapper .header__back {
	flex: 0 0 auto;
	color: #4194f2;
	padding: 12px;
	overflow: visible;
	font-size: 1.5rem;
	text-align: center;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	outline: 0;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	-moz-appearance: none;
	justify-content: center;
	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	min-width: 50px;
	height: 50px;
	margin-right: 0.25rem;
	margin-left: -1.2rem;
}
.files_wrapper .header__back:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
.files_wrapper .header__page-title {
	font-size: 1.0625rem !important;
	display: flex;
	position: relative;
	padding-right: 1.875rem;
	color: #333333;
	align-items: center;
	font-weight: 400;
}
.files_wrapper .header__page-span {
	font-size: 0.9375rem !important;
	color: rgba(51, 51, 51, 0.54);
	position: relative;
}
.files_wrapper .header__page-span::before {
	content: ' ';
	background: rgba(112, 112, 112, 0.3);
	width: 1px;
	height: 20px;
	position: absolute;
	top: 0;
	left: -15px;
}
.login-container {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (max-width: 960px) {
	.login-container {
		height: 60vh;
	}
}
.login-container__block {
	position: relative;
	justify-content: center;
	display: flex;
	height: calc(100% - 80px);
	align-items: center;
}
@media (max-width: 960px) {
	.login-container__block {
		height: auto;
	}
}
.login-container__block1::after {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: rgba(112, 112, 112, 0.3);
}
@media (max-width: 960px) {
	.login-container__block1::after {
		display: none;
	}
}
.login-container__logoimg {
	width: 24.3125rem;
	height: 7.1875rem;
}
.login-container__head {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex: 0 0 100%;
}
.login-container__heading {
	margin-bottom: 3.7rem;
	text-align: center;
}
.login-container__heading--main {
	font-size: 2.25rem !important;
	color: #64748b;
	font-weight: 500 !important;
	padding: 0.25rem;
}
.login-container__heading--sub {
	color: rgba(100, 116, 139, 0.5);
	font-size: 1.25rem !important;
}
.login-container .GoogleLoginBtn {
	width: 25.5rem;
	height: 3.5rem;
	font-size: 1.5rem !important;
	color: rgba(0, 0, 0, 0.6) !important;
	font-weight: 400 !important;
	justify-content: center;
	box-shadow: 0px 1px 12px rgba(170, 190, 221, 0.9) !important;
	border-radius: 4px !important;
	border: none !important;
	transition: all 250ms ease-out;
}
.login-container .GoogleLoginBtn span {
	font-weight: 400 !important;
}
.login-container .GoogleLoginBtn:hover {
	transform: translateY(-3px);
}
.footer-wrapper {
	color: #575962;
	font-size: 1.125rem;
}
.footer-wrapper > div {
	display: inline-block;
}
.footer-wrapper > div a {
	color: #6b87ae;
}
.footer-wrapper .footer-wrapper__privacy {
	margin-right: 1.875rem;
}
.footer-wrapper .footer-wrapper__terms {
	margin-right: 1.875rem;
}
.footer-wrapper__copyrights {
	padding-right: 0.5rem;
}
.footer-wrapper__copyrights--icon {
	font-size: 1.25rem;
}
.reg-page__wrapper .registry-dashboard {
	max-width: 80vw;
	margin: 4rem auto 0.5rem auto;
	text-align: center;
}
@media (max-width: 960px) {
	.reg-page__wrapper .registry-dashboard {
		max-width: 80vw;
	}
}
@media (min-width: 1440px) {
	.reg-page__wrapper .registry-dashboard__heading {
		max-width: 35vw;
		margin: 0 auto;
	}
}
.reg-page__wrapper .registry-dashboard__title {
	font-size: 1.875rem;
	color: #64748b;
	font-weight: 500;
	margin-bottom: 1.125rem;
}
.reg-page__wrapper .registry-dashboard__paragraph {
	font-size: 1.125rem;
	color: #a5a5a5;
	font-weight: normal;
}
.reg-page__wrapper .registry-dashboard__search {
	width: 100%;
}
.reg-page__wrapper .registry-dashboard__search-component {
	width: 50%;
	margin: 2rem 0;
	color: rgba(51, 51, 51, 0.205);
}
.reg-page__wrapper .registry-dashboard__search-component label {
	color: rgba(51, 51, 51, 0.205);
	font-size: 1.25rem;
}
.reg-page__wrapper .registry-dashboard__search-component div::before {
	border-bottom: solid 1px rgba(51, 51, 51, 0.301);
}
.reg-page__wrapper .dashboard__page-cards {
	height: 235px;
	overflow: auto;
	visibility: hidden;
}
.reg-page__wrapper .dashboard__page-cards .dashboard__card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 98%;
	margin: 0 auto;
	visibility: visible;
}
.reg-page__wrapper .dashboard__page-cards:hover,
.reg-page__wrapper .dashboard__page-cards:focus {
	visibility: visible;
}
.reg-page__wrapper .card_main__wrapper {
	box-shadow: 0px 1px 12px #b1bedde5;
	height: 6.1875rem;
	align-items: center;
	display: flex;
}
.reg-page__wrapper .card_main__wrapper-btn {
	height: 100%;
}
.reg-page__wrapper .no-registry-found {
	display: flex;
	justify-content: center;
}
.reg-page__wrapper
	.no-registry-found
	.no--result_grid
	.no--result_content
	.no--result_heading {
	margin-top: 0;
}
.table-cards .header-actions-container {
	justify-content: flex-end;
}
.table-cards .header-actions-container .header-action {
	align-items: flex-end;
}
.table-cards .header-actions-container .header-action--search {
	margin-top: -0.8125rem;
}
.table-cards .card__label-inline {
	display: inline-block;
}
.fi-container--full-height {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	min-height: 100vh;
	padding: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fi-stack--desktop--toolbar {
	display: block;
	table-layout: fixed;
}
@media (max-width: 600px) {
	.fi-stack--desktop--toolbar {
		min-height: 30px;
		height: 30px;
	}
}
@media (min-width: 600px) {
	.fi-stack--desktop--toolbar {
		min-height: 40px;
		height: 40px;
	}
}
.rpc--page__wrapper {
	min-height: calc(100% - 34px);
}
.rpc--page__wrapper .rpc--page-content__wrapper {
	padding-top: 12px;
}
.rpc--page__wrapper .rpc--page-content__wrapper .home-content_wrapper {
	min-height: calc(100% - 1px);
}
.main-page__wrapper {
	min-height: calc(100vh - 120px);
}
.main-page__wrapper > h6.form-row--heading_h6 {
	position: relative;
	padding-left: 20px;
}
.main-page__wrapper > h6.form-row--heading_h6 svg.fa-angle-left {
	cursor: pointer;
	width: 20px;
	text-align: left;
	height: 2rem;
	top: 0;
	position: absolute;
	left: -2px;
}
/*# sourceMappingURL=style.css.map */
